:root {
  --bitcoin-orange: #F7931A;
  --soft-orange: #FFE9D5;
  --secondary-blue: #1A9AF7;
  --soft-blue: #E7F5FF;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --just-white: #FFFFFF;
  
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931a 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 110px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/icons/down-arrow.svg');
}
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container .background-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url('./assets/img/Bitcoin.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.main-exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.main-tables-container {
  display: flex;
  height: 375px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 305px;
  height: 360px;
  scroll-snap-align: center;
  margin: 0 0 0 auto;
  font-family: 'Inter', sans-serif;
}
.main-currency-table .main-currency-table__title {
  margin-bottom: 15px;
  text-align: start;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  text-align: center;
  color: var(--bitcoin-orange);
}
.main-currency-table__container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.main-currency-table__container table {
  width: 100%;
  height: 100%;
}
.main-currency-table__container td {
  width: 50%;
  padding: 20px;
  text-align: start;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}
.main-currency-table__container .table--top-left {
  border-radius: 15px 0 0 0;
}
.main-currency-table__container .table--top-right {
  border-radius: 0 15px 0 0;
}
.main-currency-table__container .table--bottom-left {
  border-radius: 0 0 0 15px;
}
.main-currency-table__container .table--bottom-right {
  border-radius: 0 0 15px 0;
}
.main-currency-table__container .table--right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.main-currency-table__container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/icons/trending-down.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-currency-table__container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url('./assets/icons/trending-up.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-currency-table__date {
  width: 230px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px 5px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}
.main-currency-table__date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

.main-commission-table {
  width: 70%;
  min-width: 235px;
  max-width: 305px;
  height: 360px;
  margin: 0 auto 0 0;
  scroll-snap-align: center;
  font-family: 'Inter', sans-serif;
}
.main-commission-table .main-commission-table__title {
  margin-bottom: 15px;
  text-align: start;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  text-align: center;
  color: var(--secondary-blue);
}
.main-commission-table__container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.main-commission-table__container table {
  width: 100%;
  height: 100%;
}
.main-commission-table__container td {
  width: 50%;
  padding: 20px;
  text-align: start;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}
.main-commission-table__container .table--top-left {
  border-radius: 15px 0 0 0;
}
.main-commission-table__container .table--top-right {
  border-radius: 0 15px 0 0;
}
.main-commission-table__container .table--bottom-left {
  border-radius: 0 0 0 15px;
}
.main-commission-table__container .table--bottom-right {
  border-radius: 0 0 15px 0;
}
.main-commission-table__container .table--right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.main-commission-table__date {
  width: 230px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px 5px;
  background-color: var(--soft-blue);
  border-radius: 8px;
}
.main-commission-table__date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
}

.main-product-details {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
.main-product-detail--batabit-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 23px);
  background-image: url('./assets/icons/batata.svg');
}
.main-product-details__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.main-product-details__title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);;
}
.main-product-details__title p {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.main-product-details__card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.main-product-details__card .clock {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url('./assets/icons/clock.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-product-details__card .eye {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url('./assets/icons/eye.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-product-details__card .cash {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url('./assets/icons/dollar-sign.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-product-details__card .check {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url('./assets/icons/check-circle.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-product-details__card--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.main-product-details__card--body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 70vh;
  background-image: url('./assets/img/bitcoinbaby2x.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  text-align: center;
  color: var(--just-white);
}

.main-plans-container {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-bottom: 70px;
  text-align: center;
}
.main-plans-container__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}
.main-plans-container__title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.main-plans-container__title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
.main-plans-container--slider {
  display: flex;
  height: 350px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.main-plans-container__card {
  position: relative;
  scroll-snap-align: center;
  width: 50%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px 5px;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.main-plans-container__card--recommended {
  position: absolute;
  width: 120px;
  height: 31px;
  padding: 7px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  background-color: var(--bitcoin-orange);
  border-radius: 10px;
  color: var(--just-white);
}
.main-plans-container__card--basic {
  position: absolute;
  width: 120px;
  height: 31px;
  padding: 7px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  background-color: var(--secondary-blue);
  border-radius: 10px;
  color: var(--just-white);
}
.main-plans-container__card--limited {
  position: absolute;
  width: 120px;
  height: 31px;
  padding: 7px;
  top: -15px;
  left: calc(50% - 60px);
  font-size: 1.2rem;
  background-color: var(--grey);
  border-radius: 10px;
  color: var(--just-white);
}
.main-plans-container__info--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--black);
}
.main-plans-container__info--price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 5.3rem;
  letter-spacing: -.5rem;
  color: var(--black);
}
.main-plans-container__info--price span {
  font-size: 1.2rem;
  font-weight: 300;
  vertical-align: text-top;
}
.main-plans-container__info--saving {
  font-size: 1.2rem;
  color: #757575;
}
.main-plans-container__info--cta {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: var(--off-white);
  border: 2px var(--bitcoin-orange) solid;
  border-radius: 4px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
}
.main-plans-container__info--cta span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('./assets/icons/orange-right-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: text-bottom;
}
.basic {
  margin-left: 60px;
}
.limited {
  margin-right: 60px;
  background-color: var(--warm-black);
}
.limited .main-plans-container__info--title {
  color: var(--just-white);
}
.limited .main-plans-container__info--price {
  color: var(--just-white);
}
.limited .main-plans-container__info--cta {
  background-color: var(--black);
  color: var(--just-white);
}

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.left li {
  margin: 10px 0;
}
.left a {
  text-decoration: none;
  color: var(--just-white);
}